*{
	margin: 0;
	padding: 0;
}
body { 
	display: flex; 
	align-items: center; 
	justify-content: center; 
	font-family:'Courier New', Courier, monospace; 
	background-color:rgb(153, 215, 238); 
	background-repeat: no-repeat;
	background-size: cover;
	flex-direction: column; 
	margin: 0; 
} 

.main { 
	margin-top:10px;
	margin-bottom: 10px;
	background-color:rgba(255, 255, 255, 0.8);
	border-radius: 15px; 
	padding: 20px;
   transition: transform 0.2s; 	
	width: 500px; 
	text-align: center; 
} 

h1 { 
	color: #ff0202; 
	padding:20px;
	text-shadow: 1px 1px black;
	font-style:bold;
} 

label { 
	display: block; 
	width: 100%; 
	margin-top:20px; 
	margin-bottom: 5px; 
	text-align: left; 
	color: #000000; 
	font-weight: bold; 
} 

#pass { 
	color: red; 
	font-size: 12px; 
} 

input[type=text],input[type=email] { 
	display: block; 
	width: 100%; 
	margin-bottom: 15px; 
	padding: 10px; 
	box-sizing: border-box; 
	border: 2px solid black; 
	border-radius:10px; 
	box-shadow:1px 1px rgb(114, 110, 110);
} 

select { 
	display: block; 
	width: 100%; 
	margin-bottom: 15px; 
	padding: 10px; 
	box-sizing: border-box; 
	border: 1px solid #ddd; 
	border-radius: 5px; 
} 



.wrap { 
	display: flex; 
	justify-content: center; 
	align-items: center; 
}
.form-control,.gender{
    border:2px solid black;
    border-radius:10px;
}

.t1,.t2{
     font-size: 20px;
     color: rgb(33, 19, 226);
	 font-style:italic;
	 font-family: sans-serif;
}

input[type=button]{
	color:white;
	background-color: rgb(0, 0, 0);
	margin-top: 40px;
	width:150px;
    margin-left:41px;
	border-radius:30px;
	font-style:oblique;
    padding:5px;
}
.heading{
   font-size:20px;
}
.class,.form-control{
	box-shadow:1px 1px rgb(114, 110, 110);
}
img{
	height:150px;
}
input[type=image]{
	height:40px;
	width:300px;
}